/* define global variables */
:root {
    /* background color */
    --header-footer-bkg-color: rgb(234, 200, 220);
    /* About myself desc block */
    --tertiary_bkg_color: white;
    /* navigation bar, dropdownlist, about me page */
    --primary_bkg_color: rgb(234, 231, 231);
    /* about me main block */
    --secondary_bkg_color: #e4dfdf;
    /* for dark mode */
    --dark_mode_black: #000000;

    /* color */
    --main-color: black;
    /* --dark-color: gray; */
    --sub-color: white;

    /* link hover color */
    --link-hover-color: rgb(232, 23, 89);

    /* font */
    --main-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --welcome-font-family: cursive;
    --sub-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    /* box shadow setting for all need in site*/
    --main-box-shadow: 2px 2px 10px 1px rgb(124, 120, 120);

    /* padding */
    --column-space: 1vw;
    --row-space: 5vh;
}

* {
    margin: 0;
    padding: 0;
}

/* body setting for each page of projects */
body {
    /* background: linear-gradient(360deg, #e99c93 0%, #ecdde3 60%); */
    background: transparent url("../image/body_bk_ground_wall.jpg");
}

/* body setting for Page "Home" & Projects */
#home-body, #contact-body {
    /* width: 100%;
    height: 100%; */
    background: transparent url('../image/body_bk_ground_sky.jpg') no-repeat center center;
    text-align: center;
}

#home-body::before, #contact-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    /* background: transparent url('../image/body_bk_ground_sky.jpg') no-repeat center center; */
    background: transparent url('../image/body_bk_ground_sky.jpg');
    filter: blur(5px);
    /*图片置于最后端*/
    z-index: -1;
    /*图片不论大小全屏铺开*/
    background-size: cover;
}

#contact-body::before {
    height: 100%;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary_bkg_color);
    color: var(--sub-color);
}

/* ajust <p>original bottom padding value which is set in Bootstrap */
header p {
    margin: 0.5rem auto 0.5rem auto;
}

/*****************************
** round ring question
******************************/
.container-contact {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary_bkg_color);
    border: 2px solid var(--secondary_bkg_color);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    animation: myAnimationRing 4s infinite;
}

@keyframes myAnimationRing {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

/* link hover animation */
a.link-animation:hover {
    animation: myAnimationLink 2s infinite;
}

@keyframes myAnimationLink {
    0% {
        color: red;
        transform: scale(1.0) rotateY(60deg);
    }
    
    50% {
        color: yellow;
        transform: scale(1.2) rotateY(300deg);
    }
    
    100% {
        color: green;
        transform: scale(1.0) rotateY(360deg);
    }
}

/* About me main block */
.bk-color-dark {
    background-color: var(--secondary_bkg_color);
}

/* set icon size in header navigation area */
#icon_header {
    width: 16px;
    height: 16px;
}

/**********************************
*  navigation
***********************************/
/* Hambuger three lines */
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

.navbar-dropdownlist {
    background-color: var(--primary_bkg_color);
    /* box-shadow: var(--main-box-shadow); */
}

.navbar {
    width: 100vw;
    display: flex;
    background-color: var(--primary_bkg_color);
    box-shadow: var(--main-box-shadow);
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}

/* set homepage Logo before Name in Navigation bar */
.navbar-brand::before {
    content: url(../favicon/favicon-32x32.png);
    padding: 5px;
    justify-content: center;
    vertical-align: middle;
}

/* animation for homepage Logo&Name in Navigation bar */
.navbar-brand:hover {
    animation: myAnimationLogo 2s infinite;
}

@keyframes myAnimationLogo {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

/**********************************
* nav in all pages
***********************************/
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
}

.nav-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--main-color);
    display: inline;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    transition: 0.3s ease-out;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

#active {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

/**********************************
*  flex column in all pages body
***********************************/
/* body style in all pages */
.body-flex-box {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

/**********************************
* "Home" page
***********************************/
/* Page Home intro block(table) */
.intro-table {
    width: 100vw;
    height: 80vh;
    color: var(--sub-color);
}

.card-img-top {
    width: 100%;
    height: 45vh;
    object-fit: contain;
}

.card-block {
    padding: 1rem;
}

.project-title {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/**********************************
*  "About Me" page
***********************************/
.main-block-flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--row-space) var(--column-space);
}

.main-down {
    width: 90vw;
    /* height: auto; */
    column-gap: var(--column-space);
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

/* [About me] page, left part */
.main-left {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary_bkg_color);
    box-shadow: var(--main-box-shadow);
}

/* [About me] page, right part */
.main-right {
    width: 60%;
    height: 100%;
    background-color: var(--primary_bkg_color);
    box-shadow: var(--main-box-shadow);
}

.project-title-ios::after, .project-title-android::after {
    vertical-align: middle;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: auto;
}

.project-title-ios::after {
    content: url(../image/ios32.png);

}

.project-title-android::after {
    content: url(../image/android32.png);
}

.project-title-ios-android::after {
    content: url(../image/ios32.png) url(../image/android32.png);
}

/**********************************
*  Carousel
***********************************/
.carousel,.carousel-inner {
    width: 80%;
    /* sets carousel in middle */
    margin: auto; 
}

.carousel-inner-video {
    width: 90%;
    /* sets carousel in middle */
    margin: auto;
}

/* change carousel Previous arrow  <-- style(fold) */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* change carousel Next arrow --> style(fold) */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* invert color for carousel Previous, Next arrow & under lines
    easier to see those buttons for bright background */
.carousel-control-next, .carousel-control-prev, .carousel-indicators {
    filter: invert(100%);
}

/**********************************
*  [About me] page
***********************************/
.project-desc {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary_bkg_color);
}

.personal-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* personal image */
.img_square {
    width: 150px;
    height: auto;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.personal-detail {
    width: 85%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 5%;
}

table {
    width: 100%;
    margin: 1rem;
}

table tr {
    width: 90%;
    height: auto;
}

td.title {
    width: 30%;
    height: 50px;
    font-family: var(--sub-font-family);
    font-size: small;
    font-weight: bold;
    border-bottom: 1px solid rgb(148, 146, 146);
}

td.desc {
    width: 50%;
    height: auto;
    font-family: var(--sub-font-family);
    font-size: small;
    border-bottom: 1px solid rgb(148, 146, 146);
}

/**********************************
*  style for footer area in all pages
***********************************/
.footer {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    background-color: var(--dark_mode_black);
    border: 1px solid lightgray;
}

/**********************************
*  style for font,size etc
***********************************/
h3 {
    /* color: purple; */
    font-family: var(--sub-font-family);
    padding: var(--row-space) var(--column-space);
}

h2 {
    color: rgb(9, 33, 128);
    font-family: var(--sub-font-family);
}

.cv {
    margin: 0;
    padding: 0.3rem;
    line-height: 180%;
}

.cv>h3 {
    justify-content: center;
}

.cv-intro {
    margin: 0.5rem;
    padding: 0.3rem;
    background: right/contain content-box border-box  var(--tertiary_bkg_color);
}

.cv-part {
    margin: 0.5rem;
    padding: 0.3rem;
    background: right/contain content-box border-box no-repeat url('../icon/seedling-24.png') var(--tertiary_bkg_color);
    background-size: 36px 36px;
}

.cv-part>h2,
.cv-part>p {
    margin: 0.2rem;
    font-size: small;
}

/**********************************
*  Responsive design
***********************************/
@media only screen and (max-width:1024px) {
    .main-left {
        width: 40%;
    }

    .main-right {
        width: 60%;
    }
}

/* iPhone8(H:667), iPhone8 Plus(H:736), iPad mini,iPad(V:768)  */
@media only screen and (max-width:800px) {
    .main-down {
        width: 100%;
        flex-direction: column;
    }

    .main-left,
    .main-right {
        width: 100%;
    }
}

@media only screen  and (max-width:568px) {
    .main-down {
            width: 100%;
            flex-direction: column;
        }

        .main-left,
        .main-right {
            width: 100%;
        }
}

/**********************************
*  Dark mode
***********************************/
@media (prefers-color-scheme:dark) {
    header p {
        filter: invert(0.3);
    }
    
    /* set navigation background color to black*/
    .navbar, .dropdown, footer {
        background-color: var(--dark_mode_black);
    }
    
    /* invert navigation link texter color */
    .navbar a {
        filter: invert(0.75);
    }

    /* full stack developer button, card buttons(Read more detail) */
    .intro-table a, .intro-table p, .card-block a {
        filter: invert(0.78);
    }

    .intro-table p{
        filter: invert(0.85);
    }

    /* invert description texter color */
    h3, article p {
        filter: invert(0.3);
    }
    
    /* reduce brightness for card in Projects page*/
    .card {
        filter: brightness(90%);
    }

    /* carousel in each project page */
    #myCarousel {
        filter: brightness(90%);
    }

    /* ABOUT ME page backgroud */
    .cv-intro, .cv-part {
        background-color: var(--secondary_bkg_color);
    }

    /* personal image in About Me page */
    .personal-img {
        filter: brightness(80%);
    }
}

